# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
storybook-static
.DS_Store
yarn-error.log

graphql-types.ts

data/json
data/raw
data/convert.js
devData/
